{% extends 'partials/base.html.twig' %}
{# Single #}
{#{% block content %}#}
	{#{{ page.content }}#}
{#{% endblock %}#}

{# Modular #}
{% block content %}
	{{ page.content }}
	{% for module in page.collection() %}
		<div id="{{ _self.pageLinkName(module.menu) }}"></div>
		{{ module.content }}
	{% endfor %}
{% endblock %}